@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

/* Navigation */

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img{
  height: 2rem;
}

.navbar-brand li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}


/*Landing Page*/

.home-inner{
  background-image: url(img/coverFamily.png);
}


.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
  color: white;
}

.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom:  1rem;
}


.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

.para-1{
  margin-top: 8%;
  margin-bottom: 4%;
  font-size:20px;
}
/*Portofolio*/

.splitimage {
  max-height: 100%;
  max-width: 100%;
  width: 33.3333%;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right:0.5%;
  /* as there are 3 images in a line*/
}
.keeptogether {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  line-height: 0;
  word-spacing: -4px;
}



footer{
  opacity: 1; 
  background-color:rgb(32, 30, 30);
  padding: 1px;
  margin-top: 40px;
  color:white;
  text-align: center;
  font-size: 20px;
}


@media screen and (max-width: 768px){
  .aboutMe .card{
    width: 14rem;
  }

  .services .card{
    width: 14rem;
  }
}

@media screen and (max-width:320px){

  .aboutMe .head-1{
    font-size: 25px;
  }
  .aboutMe .card{
    padding:5%;
    margin-left:8%;
    margin-right: 8%;
  }

  .services{
    margin-bottom: 8%;
  }
  .services .head-1{
    font-size: 25px;
  }
  .services .col-md-4{
    padding:5%;
    margin-left:8%;
  }

 
}
